body{
  background-color: lavender;
}
header{
  background-color: teal;
}
h1{
  font-family: Arial /* remember to provide fallback font incase Arial is unavailable*/;
  font-size: 20px;
}
p{
  font-family: Arial;
  font-size: 14px;
}
button{
}
main {
  border: solid gray 2px;
}
#grid{
  border: solid gray 1px;
  width: 600px;
  /*height?*/
  overflow: auto;
}
#grid > div {
  border: gray solid 1px;
  width:20%;
  height:40px;
  float:left;
  text-align:center;
  margin-top:5px;
  margin-right:5px;
  padding-top:20px;
}
.blue{
  background-color: blue;
}
.red{
  background-color:red;
}
.green{
  background-color:green;
}
.orange{
  background-color:orange;
}
.lime{
  background-color: lime;
}
.olive{
  background-color:olive;
}
.brown{
  background-color: brown;
}
.tan{
  background-color: tan;
}
.card{
  background-color:white;
}
